<div class="row">
  <div class="col-xs-12 button-group">
    <button 
      type="submit" 
      class="btn btn-secondary" 
      (click)="onEditRecipe()">Edit Recipe</button>
    <button 
      type="button" 
      class="btn btn-secondary" 
      (click)="onDeleteRecipe()">Delete Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{ recipe.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-justify description">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 ingredients-to-recipe">
    <h4>Ingredients:</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        <span class="text-capitalize">{{ ingredient.name }}</span> | {{ ingredient.amount }} {{ ingredient.measure }}
      </li>
    </ul>
    <div class="ingredients-to-shopping-list">
      <button 
        class="btn btn-secondary"
        type="button"
        (click)="onAddToShoppingList()">
        Send ingredients to Shopping List
      </button>
      <div class="toast alert alert-success" role="alert" aria-live="assertive" aria-atomic="true" *ngIf="ingredientsInShopList">
        <div class="toast-body">
          Ingredients have been added to the shopping list successfully
        </div>
      </div>
    </div>
  </div>
</div>


