$screen-xs-max: 575px;
$screen-sm-min: 576px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;

// Extra small //
@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
      @content;
  }
}
// Small devices //
@mixin sm {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
      @content;
  }
}
// Medium devices //
@mixin md {
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
      @content;
  }
}
// Large devices //
@mixin lg {
  @media (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
      @content;
  }
}
// Extra large devices //
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

/************* VARIABLES *******************/
@mixin space-above-xs-sm {
  @include xs {
    margin-top: 1.6em;
  }    
  @include sm {
    margin-top: 1.6em;
  }  
}

/************* GENERAL *******************/
.dropdown-menu li {
  cursor: pointer;
}
.button-group {
  display: flex;
  justify-content: flex-end;
  @include space-above-xs-sm;
}
button.btn.btn-secondary {
  margin: 1.6em 0.25em 0;
  width: auto;
  min-width: 5em;
  background: #2e2322;
  color: #ddd;
  &:hover {
    color: #fff;
  }
}
.btn-group, .btn-group-vertical {
  float: right;
  @include space-above-xs-sm; 
}
.list-group {
  display: flex;
  flex-wrap: wrap;
}
.list-group-item {
  cursor: pointer;
  margin: 0.25em;
}
.list-group-item:last-child {
  margin-bottom: 3px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

/* RECIPES */
.recipe-details {
  margin-bottom: 2em;
}
.description {
  line-height: 1.6;
  white-space: break-spaces;
}
.recipe-start img {
  width: 100%;
  height: auto;
  padding: 0.25em;
}

/* RECIPE LIST */
.list-group-item.active {
  color: #2e2322 !important;
  background-color: #fff4e5 !important;
  border-color: #fee7c4 !important;
}
.list-group-item.active .list-group-item-text, 
.list-group-item.active:focus .list-group-item-text, 
.list-group-item.active:hover .list-group-item-text {
  color: #2e2322;;
}
a.list-group-item:hover {
  background-color: #fffcf7;
}

/*  RECIPE EDIT */
.ingredients-to-recipe button {
  margin: 0 0.25em !important;
}